/* Estilizando a barra de rolagem para navegadores WebKit */
.max-h-96::-webkit-scrollbar {
  width: 12px;
}

.max-h-96::-webkit-scrollbar-track {
  background: #1a1a1a;  /* Cor do trilho */
  border-radius: 10px;
}

.max-h-96::-webkit-scrollbar-thumb {
  background-color: #ff7f50; /* Cor do polegar */
  border-radius: 10px;
  border: 3px solid #1a1a1a; /* Espaçamento entre polegar e trilho */
}

.max-h-96::-webkit-scrollbar-thumb:hover {
  background-color: #ff4500; /* Cor do polegar ao passar o mouse */
}

/* Estilizando a barra de rolagem para navegadores Firefox */
@-moz-document url-prefix() {
  .max-h-96 {
    scrollbar-width: thin;
    scrollbar-color: #ff7f50 #1a1a1a;
  }
}
